.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  text-transform: uppercase;
  min-height: 34px;
  min-width: 210px;
  border-radius: $border-radius;
  border: none;

  &:focus {
    outline: none;
  }

  &:hover {
    opacity: 0.8;
  }

  &:disabled {
    opacity: 0.5;
    cursor: auto;
  }
}

.btn-primary {
  background-color: $brand-color;
  color: $invert-txt-color;
}

.btn-secondary {
  background-color: $secondary-color;
  color: $invert-txt-color;
}

.btn-outline {
  background-color: #FFF;
  height: 30px;
  width: 206px;
  border: 2px solid $secondary-color;
  color: $txt-color;
}

.btn + .btn {
  margin-top: 10px;
}
