/*Aligment*/
.center {
  margin: 0 auto;
}

.center-txt {
  text-align: center;
}

.right-txt {
  text-align: right;
}

.left-txt {
  text-align: left;
}

/*Color*/
.brand-color {
  color: $brand-color;
}

.danger-txt {
  color: $danger-color;
}
