//TEXT COLORS
$txt-color: #393939;
$light-txt-color: #888;
$invert-txt-color: #FFF;

//GENERAL COLORS
$brand-color: #1BB89D;
$secondary-color: #393939;
$inverted-bg: #393939;

//MEASURES
$gutter: 30px;

//GENERAL STYLING
$border-radius: 5px;
