@font-face {
    font-family: 'proxima_novalight';
    src: url('/assets/fonts/proximanova-light.woff2') format('woff2'),
         url('/assets/fonts/proximanova-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url('/assets/fonts/proximanova-regular.ttf'),
      url('/assets/fonts/proximanova-regular.woff2') format('woff2'),
      url('/assets/fonts/proximanova-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_novasemibold';
  src: url("/assets/fonts/proximanova-semibold.ttf"),
      url("/assets/fonts/proximanova-semibold.woff2") format('woff2'),
      url("/assets/fonts/proximanova-semibold.woff") format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('/assets/fonts/proximanova-bold.woff2') format('woff2'),
         url('/assets/fonts/proximanova-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@import '../assets/scss/variable.scss';
@import '../assets/scss/utils.scss';
@import '../assets/scss/text.scss';
@import '../assets/scss/button.scss';
@import '../assets/scss/grid.scss';

/*Reset Styles*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  background-color: #F4F4F4;
  font-family: 'proxima_nova_rgregular';
  color: $txt-color;
}

a {
  color: $txt-color;
  border-bottom: 1px dotted $txt-color;
  padding-bottom: 1px;

  &:hover {
    color: $light-txt-color;
    border-bottom: 1px dotted $light-txt-color;
  }
}

p {
  a {
    color: $light-txt-color;
    border-bottom: 1px dotted $light-txt-color;

    &:hover {
      color: $txt-color;
      border-bottom: 1px dotted $txt-color;
    }
  }
}
/*End Reset Styles*/

.wrapper {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  background-color: #FFF;
  border-radius: $border-radius;
  padding-top: $gutter*2;
  padding-bottom: 40px;
  overflow: hidden;
}

/*Header*/
header {
  padding: $gutter 0;
}
/*end Header*/

/*Current Plan*/
.current-plan-info {
  padding-left: 110px;
  padding-right: 110px;

  > div {
    display: flex;
    align-items: flex-end;
    padding: 20px 0;
    border-top: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
  }

  p {
    line-height: 20px;
    margin: 0;
  }
}

.count-down-txt {
  font-size: 18px;
}
/*End Current Plan*/
