<section>
  <div class="row">
    <div class="col four">
      <div class="plan-info">
        <div class="choose-plan">CHOOSE THIS PLAN IF YOU'RE A...</div>
        <div *ngFor="let description of startupDescription">
          <p>{{description}}</p>
        </div>
        <hr>
        <app-plan-items-list planItemTitle="{{startupTitle}}" [planItemList]="startupList"></app-plan-items-list>
      </div>
    </div>
    <div class="col four">
      <div class="plan-info">
        <div class="choose-plan">CHOOSE THIS PLAN IF YOU'RE A...</div>
        <div *ngFor="let description of businessDescription">
          <p>{{description}}</p>
        </div>
        <hr>
        <app-plan-items-list planItemTitle="{{businessTitle}}" [planItemList]="businessList"></app-plan-items-list>
      </div>
    </div>
    <div class="col four">
      <div class="plan-info">
        <div class="choose-plan">CHOOSE THIS PLAN IF YOU'RE A...</div>
        <div *ngFor="let description of enterpriseDescription">
          <p>{{description}}</p>
        </div>
        <hr>
        <app-plan-items-list planItemTitle="{{enterpriseTitle}}" [planItemList]="enterpriseList"></app-plan-items-list>
      </div>
    </div>
  </div>
</section>
