<section>
  <div class="row">
    <div class="col four">
      <div class="plan-info">
        <div class="choose-plan">{{ title }}</div>
        <div *ngFor="let description of startupPlan.description">
          <p>{{ description }}</p>
        </div>
        <hr>
        <app-plan-items-list planItemTitle="{{ startupPlan.title }}" [planItemList]="startupPlan.items"></app-plan-items-list>
      </div>
    </div>
    <div class="col four">
      <div class="plan-info">
        <div class="choose-plan">{{ title }}</div>
        <div *ngFor="let description of businessPlan.description">
          <p>{{ description }}</p>
        </div>
        <hr>
        <app-plan-items-list planItemTitle="{{ businessPlan.title }}" [planItemList]="businessPlan.items"></app-plan-items-list>
      </div>
    </div>
    <div class="col four">
      <div class="plan-info">
        <div class="choose-plan">{{ title }}</div>
        <div *ngFor="let description of enterprisePlan.description">
          <p>{{ description }}</p>
        </div>
        <hr>
        <app-plan-items-list planItemTitle="{{ enterprisePlan.title }}" [planItemList]="enterprisePlan.items"></app-plan-items-list>
      </div>
    </div>
  </div>
</section>
